In [40]:
import pandas as pd
import numpy as np
import requests 
from datetime import date
from bs4 import BeautifulSoup
import csv

In [41]:
url="https://www.census2011.co.in/city.php"
r=requests.get(url).text

In [44]:
census={"city":[],"state":[],"Mumbai Metropolitan":[],"City Population":[],"City_Outer_Areas":[]}
url="https://www.census2011.co.in/city.php"
r=requests.get(url).text
soup=BeautifulSoup(r,"lxml")
title=soup.find_all("td",class_="alignleft")
a=1
for city_i in title:
    link=city_i.a.get("href")
    url_1="https://www.census2011.co.in"+link
    print(url_1)
    req=requests.get(url_1).text
    soup=BeautifulSoup(req,"lxml")
    title_1=soup.find_all("tbody")
    tb_body=title_1[5].find_all("tr")
    print(a)
    a=a+1
    for value_i in tb_body:
        row_value=value_i.find_all("td")
        census["city"].append(city_i.text)
        census["state"].append(city_i.next_sibling.next_sibling.text)
        census["Mumbai Metropolitan"].append(row_value[0].text)
        census["City Population"].append(row_value[1].text)
        census["City_Outer_Areas"].append(row_value[2].text)

https://www.census2011.co.in/census/city/365-mumbai.html

IndexError: list index out of range

In [27]:
data=pd.DataFrame(census)
data

,city,state,Mumbai Metropolitan,City Population,City_Outer_Areas
0,Mumbai,Maharashtra,2011,"12,442,373","12,442,373"
1,Mumbai,Maharashtra,2021,"16,175,000","16,797,000"
2,Mumbai,Maharashtra,2022,"16,660,000","17,384,000"
3,Mumbai,Maharashtra,2023,"17,159,000","17,992,000"
4,Mumbai,Maharashtra,2024,"17,673,000","18,621,000"
...,...,...,...,...,...
5971,Kapurthala,Punjab,2027,"150,000","160,000"
5972,Kapurthala,Punjab,2028,"154,000","165,000"
5973,Kapurthala,Punjab,2029,"158,000","170,000"
5974,Kapurthala,Punjab,2030,"162,000","175,000"
5975,Kapurthala,Punjab,2031,"166,000","181,000"

In [28]:
data.to_csv(r"C:\Users\chemi\Desktop\save_csv\census_2011_1.csv",index=False )

In [32]:
csv_nm = r'C:\Users\chemi\Desktop\save_csv\census_2011.csv'
fields = ["City","state","Mumbai_Metropolitan","City_Population","City_Outer_Areas"]

with open(csv_nm, 'w', encoding="utf-16", newline='') as csvfile:
    writer= csv.DictWriter(csvfile, fieldnames=fields, delimiter =";")
    writer.writeheader()
    
url="https://www.census2011.co.in/city.php"
r=requests.get(url).text
soup=BeautifulSoup(r,"lxml")
title=soup.find_all("td",class_="alignleft")
a=1
for city_i in title:
    link=city_i.a.get("href")
    url_1="https://www.census2011.co.in"+link
    req=requests.get(url_1).text
    soup=BeautifulSoup(req,"lxml")
    title_1=soup.find_all("tbody")
    tb_body=title_1[-1].find_all("tr")
    print(a)
    a=a+1
    for value_i in tb_body:
        row_value=value_i.find_all("td")
        print(row_value)
        city=city_i.text
        state=city_i.next_sibling.next_sibling.text
        Mumbai_Metropolitan =row_value[0].text
        City_Population=row_value[1].text
        City_Outer_Areas=row_value[2].text

1
[<td>
Ambernath, Badalapur, Greater Mumbai, Kalyan and Dombivali, Mira and Bhayander, Navi Mumbai, Thane, and Ulhasnagar </td>]

IndexError: list index out of range

In [122]:

title=soup.find_all("td",class_="alignleft")
for i in title:
    a=i.text
    b=i.next_sibling.next_sibling.text
    row={"City":a,"state":b}
    print(row)
    writer.writerow(row)
    #data["city"]==i.next_sibling.next_sibling
    #print(i.next_sibling.next_sibling)

{'City': 'Mumbai', 'state': 'Maharashtra'}

ValueError: I/O operation on closed file.